@import '../../asset/stylus/index.styl'
@import '../../asset/stylus/header.styl'

.picture-content
  position:relative;

.flex-center-row
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  &>.loading
    width:auto !important;
    height:auto !important;

/*
 *图片瀑布流层，经测试ie10及以上支持，ie9未测试
 */
.waterfall
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari 和 Chrome */
  column-count:2;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  .waterfall-item
    margin: 0 0 1em 0;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    cursor:pointer;
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    
    .description
      display: block;
      padding: 10px 16px;
      line-height: 1.35em;
      overflow: hidden;
      word-wrap: break-word;
    .img-box
      position:relative
      img
        width: 100%;
        height:auto
      // &:before
      //   content: "";
      //   display: block;
      //   padding-top: 100%;
      .cover
        position: absolute;
        left: 0;
        right:0;
        top: 0;
        bottom:0
      &:hover
        .cover
          background-color: rgba(255,255,255,.1);

// @media (min-width: 761px) and (max-width: 1024px)
//   .waterfall
//     -moz-column-count:2; /* Firefox */
//     -webkit-column-count:2; /* Safari 和 Chrome */
//     column-count:1;
  
@media (max-width: 767px)
  .waterfall
    -moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari 和 Chrome */
    column-count:1;
