{
  "presets": [
    "es2015",
    "react",
    "stage-0",
    ["env",  { "modules": false }]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ],
    "transform-class-properties",
    "transform-decorators-legacy"
  ],
  "comments": false
}
