color333 = {
  color: #333
}
color666 = {
  color: #666
}
color999 = {
  color: #999
}
fontSize12 ={
  font-size: 12px
}
fontSize14 ={
  font-size: 14px
}
fontSize16 ={
  font-size: 16px
}

.color-ff8a14
  color: #ff8a14
.color-f4b027
  color: #f4b027
.color-ff6600
  color: #ff6600
.color-ff8400
  color: #ff8400
.color-f9b427
  color: #f9b427
.color-333
  color: #333
.color-000
  color: #000
.color-ff0000
  color: #ff0000

.color-999
  color: #999

.color-ff4242
  color: #ff4242

.color-2585cf
  color: #2585cf
.color-2485cf
  color: #2485cf


$blueColor = #95d1ff
$greenColor = #ff6600
$redColor = #fdebc7

$fontColor = #ed4119
$grayColor = #bbb

$borderColor = #e3e3e3
