
.index-wrapper
  position:absolute
  margin:0
  top:0
  bottom:0
  left:0
  right:0
  color:#333
  background:#fff
  .box-image
    position: absolute;
    left: 0;
    right:0;
    text-align: center;
    top:10%
    bottom:40%
    z-index:0
    >img
      width:auto
      height:100%
  .box-intro
    position: absolute;
    left: 0;
    right:0;
    top:60%
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index:9
  .title
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 9px;
    text-transform: uppercase;
    margin: 12px 0;
    left: 4px;
  .subtitle
    font-family: "SimSun", "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
    margin:10px auto 30px auto
    font-weight:300
    font-size: 20px
    color:#999
  .column-list
    text-align:center
    >li
      display:inline-block
      min-width:100px
      font-size: 14px;
      line-height: 2em;
      margin: 0;
      letter-spacing: 2px;
      >a
        display:inline-block
        color: #999;
        text-decoration: none;
        transition: color .2s ease;
        &:hover
          color:#666